<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>24C3257D-BF04-43D4-ADFB-51EF390723A7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreve</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Adieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Agrave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Amacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Atilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcroat</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Delta</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edotaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Egrave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Emacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gbreve</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Icircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idotaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Igrave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Imacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ntilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Odieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ograve</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohm</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohungarumlaut</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Otilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Racute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ruble</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scedilla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcedilla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Turkishlira</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ucircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ugrave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhungarumlaut</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Umacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uring</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ydieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zdotaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abreve</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.adieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.agrave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.amacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aring</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.atilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bullet</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bulletmath</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccedilla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.degree</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divisionslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotlessi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edotaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.egrave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ellipsis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.estimated</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fl</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fraction</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gbreve</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.icircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.idieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.igrave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.imacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.integral</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.litre</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalnot</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minus</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ntilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ocircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ograve</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohungarumlaut</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onehalf</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onequarter</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onesuperior</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.otilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.partialdiff</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.periodcentered</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plusminus</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.product</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblbase</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.racute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.radical</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scedilla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softhyphen</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcedilla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcommaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threequarters</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threesuperior</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde.case</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_A</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Aa</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ai</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Anusvara</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Au</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_AuLengthMark</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_CU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_CUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ca</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_E</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ee</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Eight</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Enn</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Five</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Four</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ha</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Hundred</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_I</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ii</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ja</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_KSsa</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_KU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_KUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ka</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_LU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_La</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_LlU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_LlUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Lla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_LllU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_LllUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Llla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_MU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_MUu</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ma</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Maatham</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Merpadi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_NU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Na</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Naal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_NgUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Nga</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Nine</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_NnU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Nna</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_NnnU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Nnna</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_NyU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Nya</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_O</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Om</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_One</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Oo</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_PUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Pa</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Patru</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_RU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_RUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ra</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_RrU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Rra</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Rupee</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Sa</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Seven</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Sha</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Shree</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Six</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ssa</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_TU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ta</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ten</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Thousand</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Three</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_TtI</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_TtIi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_TtU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_TtUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Tta</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Two</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_U</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Uu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Va</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Varavu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Varudam</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Virama</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Visarga</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelAa</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelAi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelAi.alt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelAu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelE</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelEe</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelI</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelI.alt1</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelI.alt2</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelI.alt3</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelI.alt4</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelIi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelO</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelOo</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelU</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelU.alt1</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelU.alt2</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelU.alt3</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelUu.alt1</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelUu.alt2</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_VowelUu.alt3</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_YUu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Ya</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tm_Zero</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twosuperior</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ucircumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.udieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ugrave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhungarumlaut</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.umacron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni0000</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni00A0</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni02C9</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200C</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni200D</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25CC</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uring</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ydieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zacute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zcaron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zdotaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
