<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a</key>
    <string>a.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>tm_Oo</key>
    <string>tm_O_o.glif</string>
    <key>tm_VowelI</key>
    <string>tm_V_owelI_.glif</string>
  </dict>
</plist>
