<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>propagateAnchors</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1286</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Black</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>182</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>4</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>182</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>uni0000</string>
      <string>CR</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>fi</string>
      <string>fl</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>grave</string>
      <string>dieresis</string>
      <string>macron</string>
      <string>acute</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>ogonek</string>
      <string>cedilla</string>
      <string>commaaccent</string>
      <string>grave.case</string>
      <string>dieresis.case</string>
      <string>macron.case</string>
      <string>acute.case</string>
      <string>circumflex.case</string>
      <string>caron.case</string>
      <string>breve.case</string>
      <string>dotaccent.case</string>
      <string>ring.case</string>
      <string>tilde.case</string>
      <string>hungarumlaut.case</string>
      <string>Thorn</string>
      <string>Eth</string>
      <string>AE</string>
      <string>Dcroat</string>
      <string>Lslash</string>
      <string>OE</string>
      <string>Oslash</string>
      <string>germandbls</string>
      <string>eth</string>
      <string>thorn</string>
      <string>florin</string>
      <string>ae</string>
      <string>dcroat</string>
      <string>oe</string>
      <string>lacute</string>
      <string>lslash</string>
      <string>dotlessi</string>
      <string>oslash</string>
      <string>gcedilla</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>Amacron</string>
      <string>Ccedilla</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Dcaron</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Emacron</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>Gbreve</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Ntilde</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Omacron</string>
      <string>Ohungarumlaut</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Tcaron</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Umacron</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
      <string>Scedilla</string>
      <string>Gcedilla</string>
      <string>Kcedilla</string>
      <string>Lcedilla</string>
      <string>Ncedilla</string>
      <string>Rcedilla</string>
      <string>Tcedilla</string>
      <string>Scommaaccent</string>
      <string>uni021A</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>aogonek</string>
      <string>ccedilla</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>dcaron</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>emacron</string>
      <string>edotaccent</string>
      <string>eogonek</string>
      <string>ecaron</string>
      <string>gbreve</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>lcaron</string>
      <string>ntilde</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>omacron</string>
      <string>ohungarumlaut</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>tcaron</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>umacron</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>zacute</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
      <string>scedilla</string>
      <string>kcedilla</string>
      <string>lcedilla</string>
      <string>ncedilla</string>
      <string>rcedilla</string>
      <string>tcedilla</string>
      <string>scommaaccent</string>
      <string>uni021B</string>
      <string>softhyphen</string>
      <string>mu</string>
      <string>uni02C9</string>
      <string>litre</string>
      <string>Ohm</string>
      <string>Delta</string>
      <string>divisionslash</string>
      <string>bulletmath</string>
      <string>Turkishlira</string>
      <string>Ruble</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>Euro</string>
      <string>dollar</string>
      <string>comma</string>
      <string>period</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>question</string>
      <string>questiondown</string>
      <string>asterisk</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>periodcentered</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>slash</string>
      <string>backslash</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>pi</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>hyphen</string>
      <string>underscore</string>
      <string>endash</string>
      <string>emdash</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>plus</string>
      <string>divide</string>
      <string>multiply</string>
      <string>plusminus</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>degree</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>estimated</string>
      <string>partialdiff</string>
      <string>product</string>
      <string>summation</string>
      <string>minus</string>
      <string>radical</string>
      <string>infinity</string>
      <string>integral</string>
      <string>approxequal</string>
      <string>notequal</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>perthousand</string>
      <string>fraction</string>
      <string>lozenge</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>ampersand</string>
      <string>at</string>
      <string>asciicircum</string>
      <string>asciitilde</string>
      <string>section</string>
      <string>ordfeminine</string>
      <string>logicalnot</string>
      <string>paragraph</string>
      <string>ordmasculine</string>
      <string>dv_CandrabinduInverted</string>
      <string>dv_Candrabindu</string>
      <string>dv_Anusvara</string>
      <string>dv_Visarga</string>
      <string>dv_ShortA</string>
      <string>dv_A</string>
      <string>dv_Aa</string>
      <string>dv_I</string>
      <string>dv_Ii</string>
      <string>dv_U</string>
      <string>dv_Uu</string>
      <string>dv_VocalicR</string>
      <string>dv_VocalicL</string>
      <string>dv_CandraE</string>
      <string>dv_ShortE</string>
      <string>dv_E</string>
      <string>dv_Ai</string>
      <string>dv_CandraO</string>
      <string>dv_ShortO</string>
      <string>dv_O</string>
      <string>dv_Au</string>
      <string>dv_Ka</string>
      <string>dv_Kha</string>
      <string>dv_Ga</string>
      <string>dv_Gha</string>
      <string>dv_Nga</string>
      <string>dv_Ca</string>
      <string>dv_Cha</string>
      <string>dv_Ja</string>
      <string>dv_Jha</string>
      <string>dv_Nya</string>
      <string>dv_Tta</string>
      <string>dv_Ttha</string>
      <string>dv_Dda</string>
      <string>dv_Ddha</string>
      <string>dv_Nna</string>
      <string>dv_Ta</string>
      <string>dv_Tha</string>
      <string>dv_Da</string>
      <string>dv_Dha</string>
      <string>dv_Na</string>
      <string>dv_Nnna</string>
      <string>dv_Pa</string>
      <string>dv_Pha</string>
      <string>dv_Ba</string>
      <string>dv_Bha</string>
      <string>dv_Ma</string>
      <string>dv_Ya</string>
      <string>dv_Ra</string>
      <string>dv_Rra</string>
      <string>dv_La</string>
      <string>dv_Lla</string>
      <string>dv_Llla</string>
      <string>dv_Va</string>
      <string>dv_Sha</string>
      <string>dv_Ssa</string>
      <string>dv_Sa</string>
      <string>dv_Ha</string>
      <string>dv_MarwariDda</string>
      <string>dv_MatraOe</string>
      <string>dv_MatraOoe</string>
      <string>dv_Nukta</string>
      <string>dv_Avagraha</string>
      <string>dv_MatraAa</string>
      <string>dv_MatraI</string>
      <string>dv_MatraIi</string>
      <string>dv_MatraU</string>
      <string>dv_MatraUu</string>
      <string>dv_MatraVocalicR</string>
      <string>dv_MatraVocalicRr</string>
      <string>dv_MatraCandraE</string>
      <string>dv_MatraShortE</string>
      <string>dv_MatraE</string>
      <string>dv_MatraAi</string>
      <string>dv_MatraCandraO</string>
      <string>dv_MatraShortO</string>
      <string>dv_MatraO</string>
      <string>dv_MatraAu</string>
      <string>dv_MatraAw</string>
      <string>dv_Halant</string>
      <string>dv_MatraUe</string>
      <string>dv_MatraUue</string>
      <string>dv_PrishtaMatraE</string>
      <string>dv_Aw</string>
      <string>dv_Om</string>
      <string>dv_Udatta</string>
      <string>dv_Anudatta</string>
      <string>dv_Graveaccent</string>
      <string>dv_Acuteaccent</string>
      <string>dv_MatraCandraLongE</string>
      <string>dv_Ue</string>
      <string>dv_Uue</string>
      <string>dv_Qa</string>
      <string>dv_Khha</string>
      <string>dv_Ghha</string>
      <string>dv_Za</string>
      <string>dv_Dddha</string>
      <string>dv_Rha</string>
      <string>dv_Fa</string>
      <string>dv_Yya</string>
      <string>dv_VocalicRr</string>
      <string>dv_VocalicLl</string>
      <string>dv_MatraVocalicL</string>
      <string>dv_MatraVocalicLl</string>
      <string>dv_Danda</string>
      <string>dv_DoubleDanda</string>
      <string>dv_Zero</string>
      <string>dv_One</string>
      <string>dv_Two</string>
      <string>dv_Three</string>
      <string>dv_Four</string>
      <string>dv_Five</string>
      <string>dv_Six</string>
      <string>dv_Seven</string>
      <string>dv_Eight</string>
      <string>dv_Nine</string>
      <string>dv_Abbreviation</string>
      <string>dv_Highspacedot</string>
      <string>dv_CandraA</string>
      <string>dv_Oe</string>
      <string>dv_Ooe</string>
      <string>dv_Zha</string>
      <string>dv_HeavyYa</string>
      <string>dv_Gga</string>
      <string>dv_Jja</string>
      <string>dv_GlottalStop</string>
      <string>dv_Ddda</string>
      <string>dv_Bba</string>
      <string>dv_La.MAR</string>
      <string>dv_Sha.MAR</string>
      <string>dv_oldJha</string>
      <string>dv_KSsa</string>
      <string>dv_JNya</string>
      <string>dv_Jha.NEP</string>
      <string>dv_Reph</string>
      <string>dv_Reph.MAR</string>
      <string>dv_Rakar</string>
      <string>dv_MatraI.1</string>
      <string>dv_MatraI.2</string>
      <string>dv_MatraI.3</string>
      <string>dv_MatraI.4</string>
      <string>dv_MatraIReph</string>
      <string>dv_MatraIReph.1</string>
      <string>dv_MatraIReph.2</string>
      <string>dv_MatraIReph.3</string>
      <string>dv_MatraIReph.4</string>
      <string>dv_MatraIi.1</string>
      <string>dv_MatraIi.2</string>
      <string>dv_MatraIiReph.1</string>
      <string>dv_MatraIiReph.2</string>
      <string>dv_MatraIiReph</string>
      <string>dv_MatraEReph</string>
      <string>dv_MatraAiReph</string>
      <string>dv_MatraOReph</string>
      <string>dv_MatraAuReph</string>
      <string>dv_RakarMatraU</string>
      <string>dv_RakarMatraUu</string>
      <string>dv_KRa</string>
      <string>dv_KRa.NEP</string>
      <string>dv_KhRa</string>
      <string>dv_GRa</string>
      <string>dv_GhRa</string>
      <string>dv_CRa</string>
      <string>dv_JRa</string>
      <string>dv_JhRa</string>
      <string>dv_TRa</string>
      <string>dv_TRa.alt</string>
      <string>dv_ThRa</string>
      <string>dv_DRa</string>
      <string>dv_DhRa</string>
      <string>dv_NRa</string>
      <string>dv_PRa</string>
      <string>dv_PhRa</string>
      <string>dv_BRa</string>
      <string>dv_BhRa</string>
      <string>dv_MRa</string>
      <string>dv_YRa</string>
      <string>dv_LRa</string>
      <string>dv_VRa</string>
      <string>dv_ShRa</string>
      <string>dv_SsRa</string>
      <string>dv_SRa</string>
      <string>dv_HRa</string>
      <string>dv_QRa</string>
      <string>dv_KhhRa</string>
      <string>dv_GhhRa</string>
      <string>dv_ZRa</string>
      <string>dv_FRa</string>
      <string>dv_YyRa</string>
      <string>dv_KSsRa</string>
      <string>dv_KR.half</string>
      <string>dv_GhR.half</string>
      <string>dv_TR.half</string>
      <string>dv_TR.half.alt</string>
      <string>dv_DhR.half</string>
      <string>dv_PR.half</string>
      <string>dv_VR.half</string>
      <string>dv_ShR.half</string>
      <string>dv_SsR.half</string>
      <string>dv_SR.half</string>
      <string>dv_GR.half</string>
      <string>dv_DR.half</string>
      <string>dv_BhR.half</string>
      <string>dv_GRYa</string>
      <string>dv_ChRYa</string>
      <string>dv_TtTtYa</string>
      <string>dv_TthTthYa</string>
      <string>dv_DdDdYa</string>
      <string>dv_DdhDdhYa</string>
      <string>dv_DdhRYa</string>
      <string>dv_DGRa</string>
      <string>dv_DDYa</string>
      <string>dv_DBRa</string>
      <string>dv_DRYa</string>
      <string>dv_DVYa</string>
      <string>dv_DVRa</string>
      <string>dv_DhNYa</string>
      <string>dv_NNYa</string>
      <string>dv_PTthYa</string>
      <string>dv_BhRYa</string>
      <string>dv_ShRYa</string>
      <string>dv_SsTtYa</string>
      <string>dv_SsTtVa</string>
      <string>dv_SsTthYa</string>
      <string>dv_HMYa</string>
      <string>dv_NgYa</string>
      <string>dv_TtTta</string>
      <string>dv_TtTtha</string>
      <string>dv_TtDdha</string>
      <string>dv_TtYa</string>
      <string>dv_TtVa</string>
      <string>dv_TthTtha</string>
      <string>dv_TthYa</string>
      <string>dv_DdTta</string>
      <string>dv_DdDda</string>
      <string>dv_DdDdha</string>
      <string>dv_DdYa</string>
      <string>dv_DdhDdha</string>
      <string>dv_DdhYa</string>
      <string>dv_DGa</string>
      <string>dv_DDa</string>
      <string>dv_DNa</string>
      <string>dv_DBa</string>
      <string>dv_DMa</string>
      <string>dv_DYa</string>
      <string>dv_DVa</string>
      <string>dv_HMa</string>
      <string>dv_HYa</string>
      <string>dv_KSsMYa</string>
      <string>dv_KSPRa</string>
      <string>dv_KSPLa</string>
      <string>dv_KSPLa.MAR</string>
      <string>dv_TSNYa</string>
      <string>dv_NSMYa</string>
      <string>dv_KKYa</string>
      <string>dv_KTYa</string>
      <string>dv_KTRa</string>
      <string>dv_KTRa.alt</string>
      <string>dv_KTVa</string>
      <string>dv_KPRa</string>
      <string>dv_KVYa</string>
      <string>dv_KSsMa</string>
      <string>dv_KSsYa</string>
      <string>dv_KSsVa</string>
      <string>dv_KSTta</string>
      <string>dv_KSDda</string>
      <string>dv_KSTa</string>
      <string>dv_GDhYa</string>
      <string>dv_GDhVa</string>
      <string>dv_GNYa</string>
      <string>dv_GBhYa</string>
      <string>dv_CCYa</string>
      <string>dv_CChVa</string>
      <string>dv_JJNya</string>
      <string>dv_JJYa</string>
      <string>dv_JJVa</string>
      <string>dv_TKYa</string>
      <string>dv_TKRa</string>
      <string>dv_TKRa.NEP</string>
      <string>dv_TKVa</string>
      <string>dv_TKSsa</string>
      <string>dv_TKhNa</string>
      <string>dv_TKhRa</string>
      <string>dv_TTYa</string>
      <string>dv_TTVa</string>
      <string>dv_TNYa</string>
      <string>dv_TPRa</string>
      <string>dv_TPLa</string>
      <string>dv_TPLa.MAR</string>
      <string>dv_TMYa</string>
      <string>dv_TRYa</string>
      <string>dv_TRYa.alt</string>
      <string>dv_TSNa</string>
      <string>dv_TSYa</string>
      <string>dv_TSVa</string>
      <string>dv_NKSa</string>
      <string>dv_NJYa</string>
      <string>dv_NTYa</string>
      <string>dv_NTRa</string>
      <string>dv_NTRa.alt</string>
      <string>dv_NTSa</string>
      <string>dv_NThYa</string>
      <string>dv_NThVa</string>
      <string>dv_NDRa</string>
      <string>dv_NDVa</string>
      <string>dv_NDhYa</string>
      <string>dv_NDhRa</string>
      <string>dv_NDhVa</string>
      <string>dv_NPRa</string>
      <string>dv_NBhYa</string>
      <string>dv_NBhVa</string>
      <string>dv_NMYa</string>
      <string>dv_NSTta</string>
      <string>dv_NSYa</string>
      <string>dv_NHYa</string>
      <string>dv_PTYa</string>
      <string>dv_BJYa</string>
      <string>dv_BDhVa</string>
      <string>dv_BBhRa</string>
      <string>dv_BLYa</string>
      <string>dv_MPRa</string>
      <string>dv_MBYa</string>
      <string>dv_MBRa</string>
      <string>dv_MBhYa</string>
      <string>dv_MBhRa</string>
      <string>dv_MBhVa</string>
      <string>dv_LKYa</string>
      <string>dv_LThYa</string>
      <string>dv_LDRa</string>
      <string>dv_LLYa</string>
      <string>dv_LVDda</string>
      <string>dv_LHYa</string>
      <string>dv_SsKRa</string>
      <string>dv_SsNnYa</string>
      <string>dv_SsPRa</string>
      <string>dv_SsMYa</string>
      <string>dv_SKRa</string>
      <string>dv_SKRa.NEP</string>
      <string>dv_SKVa</string>
      <string>dv_STYa</string>
      <string>dv_STRa</string>
      <string>dv_STRa.alt</string>
      <string>dv_STVa</string>
      <string>dv_SThYa</string>
      <string>dv_SNYa</string>
      <string>dv_SPRa</string>
      <string>dv_SMYa</string>
      <string>dv_KKa</string>
      <string>dv_KKha</string>
      <string>dv_KCa</string>
      <string>dv_KCha</string>
      <string>dv_KNga</string>
      <string>dv_KGha</string>
      <string>dv_KJa</string>
      <string>dv_KJha</string>
      <string>dv_KoldJha</string>
      <string>dv_KNya</string>
      <string>dv_KTta</string>
      <string>dv_KNna</string>
      <string>dv_KTa</string>
      <string>dv_KTha</string>
      <string>dv_KDa</string>
      <string>dv_KDda</string>
      <string>dv_KDha</string>
      <string>dv_KNa</string>
      <string>dv_KPa</string>
      <string>dv_KPha</string>
      <string>dv_KBha</string>
      <string>dv_KMa</string>
      <string>dv_KYa</string>
      <string>dv_KLa</string>
      <string>dv_KLa.MAR</string>
      <string>dv_KVa</string>
      <string>dv_KSha</string>
      <string>dv_KSa</string>
      <string>dv_KHa</string>
      <string>dv_KhKha</string>
      <string>dv_KhTa</string>
      <string>dv_KhNa</string>
      <string>dv_KhMa</string>
      <string>dv_KhYa</string>
      <string>dv_KhVa</string>
      <string>dv_KhSha</string>
      <string>dv_GNa</string>
      <string>dv_GhDa</string>
      <string>dv_GhNa</string>
      <string>dv_GhMa</string>
      <string>dv_GhYa</string>
      <string>dv_GhNga</string>
      <string>dv_GhCa</string>
      <string>dv_GhCha</string>
      <string>dv_GhDda</string>
      <string>dv_GhTha</string>
      <string>dv_GhDha</string>
      <string>dv_GhBha</string>
      <string>dv_GhSha</string>
      <string>dv_GhHa</string>
      <string>dv_CJha</string>
      <string>dv_CHa</string>
      <string>dv_CCa</string>
      <string>dv_CCha</string>
      <string>dv_CNa</string>
      <string>dv_CMa</string>
      <string>dv_ColdJha</string>
      <string>dv_CDda</string>
      <string>dv_CTha</string>
      <string>dv_CDha</string>
      <string>dv_CBha</string>
      <string>dv_CSha</string>
      <string>dv_CYa</string>
      <string>dv_ChYa</string>
      <string>dv_ChVa</string>
      <string>dv_JKa</string>
      <string>dv_JGa</string>
      <string>dv_JJa</string>
      <string>dv_JJha</string>
      <string>dv_JTta</string>
      <string>dv_JKha</string>
      <string>dv_JTtha</string>
      <string>dv_JDdha</string>
      <string>dv_JTha</string>
      <string>dv_JSa</string>
      <string>dv_JDda</string>
      <string>dv_JTa</string>
      <string>dv_JDa</string>
      <string>dv_JNa</string>
      <string>dv_JBa</string>
      <string>dv_JMa</string>
      <string>dv_JYa</string>
      <string>dv_JBha</string>
      <string>dv_JVa</string>
      <string>dv_JhCha</string>
      <string>dv_JhDda</string>
      <string>dv_JhHa</string>
      <string>dv_JhNa</string>
      <string>dv_JhMa</string>
      <string>dv_JhYa</string>
      <string>dv_JhDha</string>
      <string>dv_JhBha</string>
      <string>dv_JhSha</string>
      <string>dv_JhNga</string>
      <string>dv_NyCha</string>
      <string>dv_NySha</string>
      <string>dv_NyNga</string>
      <string>dv_NyDda</string>
      <string>dv_NyBha</string>
      <string>dv_NyHa</string>
      <string>dv_TDa</string>
      <string>dv_THa</string>
      <string>dv_TKa</string>
      <string>dv_TKha</string>
      <string>dv_TTa</string>
      <string>dv_TTha</string>
      <string>dv_TNa</string>
      <string>dv_TPa</string>
      <string>dv_TPha</string>
      <string>dv_TCa</string>
      <string>dv_TJa</string>
      <string>dv_TNya</string>
      <string>dv_TTta</string>
      <string>dv_TTtha</string>
      <string>dv_TDha</string>
      <string>dv_TBha</string>
      <string>dv_TMa</string>
      <string>dv_TYa</string>
      <string>dv_TLa</string>
      <string>dv_TLa.MAR</string>
      <string>dv_TVa</string>
      <string>dv_TSa</string>
      <string>dv_ThYa</string>
      <string>dv_ThVa</string>
      <string>dv_ThGha</string>
      <string>dv_ThNga</string>
      <string>dv_ThCa</string>
      <string>dv_ThCha</string>
      <string>dv_ThDda</string>
      <string>dv_ThTha</string>
      <string>dv_ThBha</string>
      <string>dv_ThSha</string>
      <string>dv_ThHa</string>
      <string>dv_ThNa</string>
      <string>dv_ThDha</string>
      <string>dv_DhCha</string>
      <string>dv_DhNa</string>
      <string>dv_DhNga</string>
      <string>dv_DhCa</string>
      <string>dv_DhDda</string>
      <string>dv_DhTha</string>
      <string>dv_DhDha</string>
      <string>dv_DhBha</string>
      <string>dv_DhSha</string>
      <string>dv_DhHa</string>
      <string>dv_DhMa</string>
      <string>dv_DhYa</string>
      <string>dv_DhVa</string>
      <string>dv_NGa</string>
      <string>dv_NNya</string>
      <string>dv_NSha</string>
      <string>dv_NKa</string>
      <string>dv_NCa</string>
      <string>dv_NCha</string>
      <string>dv_NTta</string>
      <string>dv_NDda</string>
      <string>dv_NTa</string>
      <string>dv_NTha</string>
      <string>dv_NDa</string>
      <string>dv_NDha</string>
      <string>dv_NNa</string>
      <string>dv_NPa</string>
      <string>dv_NPha</string>
      <string>dv_NBha</string>
      <string>dv_NMa</string>
      <string>dv_NYa</string>
      <string>dv_NVa</string>
      <string>dv_NSa</string>
      <string>dv_NHa</string>
      <string>dv_PNga</string>
      <string>dv_PCha</string>
      <string>dv_PDda</string>
      <string>dv_PTha</string>
      <string>dv_PDha</string>
      <string>dv_PBha</string>
      <string>dv_PSha</string>
      <string>dv_PTta</string>
      <string>dv_PTa</string>
      <string>dv_PNa</string>
      <string>dv_PPa</string>
      <string>dv_PTtha</string>
      <string>dv_PTtYa</string>
      <string>dv_PPha</string>
      <string>dv_PMa</string>
      <string>dv_PYa</string>
      <string>dv_PLa</string>
      <string>dv_PLa.MAR</string>
      <string>dv_PVa</string>
      <string>dv_PSa</string>
      <string>dv_PhGa</string>
      <string>dv_PhGha</string>
      <string>dv_PhNga</string>
      <string>dv_PhCa</string>
      <string>dv_PhCha</string>
      <string>dv_PhJha</string>
      <string>dv_PholdJha</string>
      <string>dv_PhNya</string>
      <string>dv_PhDda</string>
      <string>dv_PhTha</string>
      <string>dv_PhDha</string>
      <string>dv_PhBha</string>
      <string>dv_PhHa</string>
      <string>dv_PhJa</string>
      <string>dv_PhTta</string>
      <string>dv_PhTa</string>
      <string>dv_PhNa</string>
      <string>dv_PhPa</string>
      <string>dv_PhPha</string>
      <string>dv_PhYa</string>
      <string>dv_PhLa</string>
      <string>dv_PhLa.MAR</string>
      <string>dv_PhSha</string>
      <string>dv_BJa</string>
      <string>dv_BJha</string>
      <string>dv_BJha.NEP</string>
      <string>dv_BoldJha</string>
      <string>dv_BTa</string>
      <string>dv_BDa</string>
      <string>dv_BDha</string>
      <string>dv_BNa</string>
      <string>dv_BBa</string>
      <string>dv_BBha</string>
      <string>dv_BYa</string>
      <string>dv_BLa</string>
      <string>dv_BLa.MAR</string>
      <string>dv_BVa</string>
      <string>dv_BSha</string>
      <string>dv_BSa</string>
      <string>dv_BZa</string>
      <string>dv_BhNga</string>
      <string>dv_BhCha</string>
      <string>dv_BhNya</string>
      <string>dv_BhDda</string>
      <string>dv_BhTha</string>
      <string>dv_BhDha</string>
      <string>dv_BhBha</string>
      <string>dv_BhSha</string>
      <string>dv_BhHa</string>
      <string>dv_BhYa</string>
      <string>dv_BhLa</string>
      <string>dv_BhLa.MAR</string>
      <string>dv_BhVa</string>
      <string>dv_MNga</string>
      <string>dv_MCha</string>
      <string>dv_MDda</string>
      <string>dv_MTha</string>
      <string>dv_MDha</string>
      <string>dv_MCa</string>
      <string>dv_MJha</string>
      <string>dv_MTa</string>
      <string>dv_MDa</string>
      <string>dv_MNa</string>
      <string>dv_MPa</string>
      <string>dv_MBa</string>
      <string>dv_MBha</string>
      <string>dv_MMa</string>
      <string>dv_MYa</string>
      <string>dv_MLa</string>
      <string>dv_MLa.MAR</string>
      <string>dv_MVa</string>
      <string>dv_MSha</string>
      <string>dv_MSa</string>
      <string>dv_MHa</string>
      <string>dv_YYa</string>
      <string>dv_YGha</string>
      <string>dv_YNga</string>
      <string>dv_YCha</string>
      <string>dv_YDda</string>
      <string>dv_YTha</string>
      <string>dv_YDha</string>
      <string>dv_YBha</string>
      <string>dv_YSha</string>
      <string>dv_LKa</string>
      <string>dv_LKha</string>
      <string>dv_LGa</string>
      <string>dv_LJa</string>
      <string>dv_LTta</string>
      <string>dv_LTtha</string>
      <string>dv_LDda</string>
      <string>dv_LDdha</string>
      <string>dv_LTa</string>
      <string>dv_LTha</string>
      <string>dv_LDa</string>
      <string>dv_LPa</string>
      <string>dv_LNa</string>
      <string>dv_LPha</string>
      <string>dv_LBa</string>
      <string>dv_LBha</string>
      <string>dv_LMa</string>
      <string>dv_LYa</string>
      <string>dv_LLa</string>
      <string>dv_LLa.MAR</string>
      <string>dv_LVa</string>
      <string>dv_LSa</string>
      <string>dv_LHa</string>
      <string>dv_LZa</string>
      <string>dv_LGha</string>
      <string>dv_LCa</string>
      <string>dv_LNya</string>
      <string>dv_LDha</string>
      <string>dv_LSha</string>
      <string>dv_LlYa</string>
      <string>dv_VYa</string>
      <string>dv_VLa</string>
      <string>dv_VLa.MAR</string>
      <string>dv_VVa</string>
      <string>dv_VHa</string>
      <string>dv_SsKa</string>
      <string>dv_SsTta</string>
      <string>dv_SsTtha</string>
      <string>dv_SsNna</string>
      <string>dv_SsPa</string>
      <string>dv_SsPha</string>
      <string>dv_SsMa</string>
      <string>dv_SsYa</string>
      <string>dv_SsVa</string>
      <string>dv_SsSsa</string>
      <string>dv_SKa</string>
      <string>dv_SKha</string>
      <string>dv_SCha</string>
      <string>dv_SJa</string>
      <string>dv_STta</string>
      <string>dv_STa</string>
      <string>dv_STha</string>
      <string>dv_SDa</string>
      <string>dv_SNa</string>
      <string>dv_SPa</string>
      <string>dv_SPha</string>
      <string>dv_SBa</string>
      <string>dv_SMa</string>
      <string>dv_SYa</string>
      <string>dv_SLa</string>
      <string>dv_SLa.MAR</string>
      <string>dv_SVa</string>
      <string>dv_SSa</string>
      <string>dv_QTa</string>
      <string>dv_QPha</string>
      <string>dv_QBa</string>
      <string>dv_QMa</string>
      <string>dv_QQa</string>
      <string>dv_QFa</string>
      <string>dv_KhhTa</string>
      <string>dv_KhhMa</string>
      <string>dv_KhhYa</string>
      <string>dv_KhhVa</string>
      <string>dv_KhhSha</string>
      <string>dv_KhhSa</string>
      <string>dv_ZYa</string>
      <string>dv_ZZa</string>
      <string>dv_FTa</string>
      <string>dv_FSa</string>
      <string>dv_FZa</string>
      <string>dv_FFa</string>
      <string>dv_BhNa</string>
      <string>dv_MNya</string>
      <string>dv_YNa</string>
      <string>dv_VNa</string>
      <string>dv_SsKra.NEP</string>
      <string>dv_ShrNa</string>
      <string>dv_KJNya</string>
      <string>dv_GhJNya</string>
      <string>dv_CJNya</string>
      <string>dv_JJna</string>
      <string>dv_JNyYa</string>
      <string>dv_NyJNya</string>
      <string>dv_PhJNya</string>
      <string>dv_KSsM.half</string>
      <string>dv_TT.half</string>
      <string>dv_NBh.half</string>
      <string>dv_NS.half</string>
      <string>dv_MBh.half</string>
      <string>dv_LBh.half</string>
      <string>dv_DMatraVocalicR</string>
      <string>dv_DMatraU</string>
      <string>dv_DMatraUu</string>
      <string>dv_RMatraU</string>
      <string>dv_RMatraUu</string>
      <string>dv_ShMatraVocalicR</string>
      <string>dv_HMatraVocalicR</string>
      <string>dv_HMatraU</string>
      <string>dv_HMatraUu</string>
      <string>dv_K.half</string>
      <string>dv_Kh.half</string>
      <string>dv_G.half</string>
      <string>dv_Gh.half</string>
      <string>dv_C.half</string>
      <string>dv_Ch.half</string>
      <string>dv_J.half</string>
      <string>dv_Jh.half</string>
      <string>dv_Jh.half.NEP</string>
      <string>dv_Ny.half</string>
      <string>dv_Nn.half</string>
      <string>dv_T.half</string>
      <string>dv_Th.half</string>
      <string>dv_Dh.half</string>
      <string>dv_N.half</string>
      <string>dv_Nnn.half</string>
      <string>dv_P.half</string>
      <string>dv_Ph.half</string>
      <string>dv_B.half</string>
      <string>dv_Bh.half</string>
      <string>dv_M.half</string>
      <string>dv_Y.half</string>
      <string>dv_Rr.half</string>
      <string>dv_L.half</string>
      <string>dv_Ll.half</string>
      <string>dv_Lll.half</string>
      <string>dv_V.half</string>
      <string>dv_Sh.half</string>
      <string>dv_Sh.half.MAR</string>
      <string>dv_Ss.half</string>
      <string>dv_S.half</string>
      <string>dv_H.half</string>
      <string>dv_Q.half</string>
      <string>dv_Khh.half</string>
      <string>dv_Ghh.half</string>
      <string>dv_Z.half</string>
      <string>dv_F.half</string>
      <string>dv_Yy.half</string>
      <string>dv_KSs.half</string>
      <string>dv_JNy.half</string>
      <string>dv_Ng.half</string>
      <string>dv_Tt.half</string>
      <string>dv_Tth.half</string>
      <string>dv_Dd.half</string>
      <string>dv_Ddh.half</string>
      <string>dv_D.half</string>
      <string>dv_ThR.half</string>
      <string>dv_HM.half</string>
      <string>dv_KS.half</string>
      <string>dv_JJ.half</string>
      <string>dv_TS.half</string>
      <string>dv_NN.half</string>
      <string>dv_Bb.half</string>
      <string>dv_Jj.half</string>
      <string>dv_Na.post</string>
      <string>dv_Ra.post</string>
      <string>dv_Ya.post</string>
      <string>dv_MatraAaAnusvara</string>
      <string>dv_MatraIAnusvara</string>
      <string>dv_MatraIAnusvara.1</string>
      <string>dv_MatraIAnusvara.2</string>
      <string>dv_MatraIAnusvara.3</string>
      <string>dv_MatraIAnusvara.4</string>
      <string>dv_MatraIiAnusvara</string>
      <string>dv_MatraIiAnusvara.1</string>
      <string>dv_MatraIiAnusvara.2</string>
      <string>dv_MatraOAnusvara</string>
      <string>dv_MatraEAnusvara</string>
      <string>dv_MatraAiAnusvara</string>
      <string>dv_MatraAwAnusvara</string>
      <string>dv_MatraShortEAnusvara</string>
      <string>dv_MatraCandraOAnusvara</string>
      <string>dv_MatraShortOAnusvara</string>
      <string>dv_MatraAuAnusvara</string>
      <string>dv_MatraAaCandraBindu</string>
      <string>dv_MatraICandraBindu</string>
      <string>dv_MatraICandraBindu.1</string>
      <string>dv_MatraICandraBindu.2</string>
      <string>dv_MatraICandraBindu.3</string>
      <string>dv_MatraICandraBindu.4</string>
      <string>dv_MatraIiCandraBindu</string>
      <string>dv_MatraIiCandraBindu.1</string>
      <string>dv_MatraIiCandraBindu.2</string>
      <string>dv_MatraOCandraBindu</string>
      <string>dv_MatraECandraBindu</string>
      <string>dv_MatraAiCandraBindu</string>
      <string>dv_MatraAwCandraBindu</string>
      <string>dv_MatraShortECandraBindu</string>
      <string>dv_MatraCandraOCandraBindu</string>
      <string>dv_MatraShortOCandraBindu</string>
      <string>dv_MatraAuCandraBindu</string>
      <string>dv_MatraCandraEAnusvara</string>
      <string>dv_MatraCandraECandraBindu</string>
      <string>dv_NyCa</string>
      <string>dv_NyCYa</string>
      <string>dv_NyJa</string>
      <string>dv_NyJYa</string>
      <string>dv_NyRa</string>
      <string>dv_NnRa</string>
      <string>dv_NnnRa</string>
      <string>dv_HNa</string>
      <string>dv_HLa</string>
      <string>dv_HLa.MAR</string>
      <string>dv_HVa</string>
      <string>dv_NgRa</string>
      <string>dv_TtRa</string>
      <string>dv_TthRa</string>
      <string>dv_DdRa</string>
      <string>dv_DdhRa</string>
      <string>dv_ChRa</string>
      <string>dv_NgRaMatraU</string>
      <string>dv_TtRaMatraU</string>
      <string>dv_TthRaMatraU</string>
      <string>dv_DdRaMatraU</string>
      <string>dv_DdhRaMatraU</string>
      <string>dv_DRaMatraU</string>
      <string>dv_ChRaMatraU</string>
      <string>dv_NgRaMatraUu</string>
      <string>dv_TtRaMatraUu</string>
      <string>dv_TthRaMatraUu</string>
      <string>dv_DdRaMatraUu</string>
      <string>dv_DdhRaMatraUu</string>
      <string>dv_DRaMatraUu</string>
      <string>dv_ChRaMatraUu</string>
      <string>dv_IiAnusvara</string>
      <string>dv_MatraAaReph</string>
      <string>dv_MatraAwReph</string>
      <string>dv_MatraShortEReph</string>
      <string>dv_MatraCandraOReph</string>
      <string>dv_MatraShortOReph</string>
      <string>dv_MatraIRephAnusvara</string>
      <string>dv_MatraIRephAnusvara.1</string>
      <string>dv_MatraIRephAnusvara.2</string>
      <string>dv_MatraIRephAnusvara.3</string>
      <string>dv_MatraIRephAnusvara.4</string>
      <string>dv_MatraIiRephAnusvara</string>
      <string>dv_MatraIiRephAnusvara.1</string>
      <string>dv_MatraIiRephAnusvara.2</string>
      <string>dv_MatraORephAnusvara</string>
      <string>dv_MatraERephAnusvara</string>
      <string>dv_MatraAiRephAnusvara</string>
      <string>dv_MatraAwRephAnusvara</string>
      <string>dv_MatraShortERephAnusvara</string>
      <string>dv_MatraCandraORephAnusvara</string>
      <string>dv_MatraShortORephAnusvara</string>
      <string>dv_MatraAuRephAnusvara</string>
      <string>dv_MatraIRephCandraBindu</string>
      <string>dv_MatraIRephCandraBindu.1</string>
      <string>dv_MatraIRephCandraBindu.2</string>
      <string>dv_MatraIRephCandraBindu.3</string>
      <string>dv_MatraIRephCandraBindu.4</string>
      <string>dv_MatraIiRephCandraBindu</string>
      <string>dv_MatraIiRephCandraBindu.1</string>
      <string>dv_MatraIiRephCandraBindu.2</string>
      <string>dv_MatraORephCandraBindu</string>
      <string>dv_MatraERephCandraBindu</string>
      <string>dv_MatraAiRephCandraBindu</string>
      <string>dv_MatraAwRephCandraBindu</string>
      <string>dv_MatraShortERephCandraBindu</string>
      <string>dv_MatraCandraORephCandraBindu</string>
      <string>dv_MatraShortORephCandraBindu</string>
      <string>dv_MatraAuRephCandraBindu</string>
      <string>dv_MatraCandraEReph</string>
      <string>dv_MatraCandraERephAnusvara</string>
      <string>dv_MatraCandraERephCandraBindu</string>
      <string>dv_RephCandraBindu</string>
      <string>dv_RephAnusvara</string>
      <string>dv_MatraAaRephAnusvara</string>
      <string>tm_LllUu</string>
      <string>tm_Llla</string>
      <string>tm_Ya</string>
      <string>tm_Seven</string>
      <string>tm_Merpadi</string>
      <string>tm_O</string>
      <string>tm_VowelU.alt2</string>
      <string>tm_Nya</string>
      <string>Tcommaaccent</string>
      <string>tm_VowelE</string>
      <string>tm_Nna</string>
      <string>tm_VowelUu.alt1</string>
      <string>tm_Oo</string>
      <string>tm_Aa</string>
      <string>tm_A</string>
      <string>tm_Uu</string>
      <string>tm_Sha</string>
      <string>tm_Ee</string>
      <string>tm_Sa</string>
      <string>tm_CU</string>
      <string>tm_VowelAi</string>
      <string>tm_MUu</string>
      <string>tm_Ssa</string>
      <string>tm_VowelAa</string>
      <string>tm_VowelI</string>
      <string>tm_TtU</string>
      <string>tcommaaccent</string>
      <string>tm_Va</string>
      <string>tm_VowelIi</string>
      <string>tm_Pa</string>
      <string>Gcommaaccent</string>
      <string>tm_LlU</string>
      <string>tm_Tta</string>
      <string>lcommaaccent</string>
      <string>tm_Four</string>
      <string>tm_U</string>
      <string>tm_Patru</string>
      <string>tm_Rra</string>
      <string>tm_LllU</string>
      <string>tm_Enn</string>
      <string>rcommaaccent</string>
      <string>tm_Thousand</string>
      <string>tm_Varavu</string>
      <string>tm_Five</string>
      <string>tm_Nnna</string>
      <string>tm_Shree</string>
      <string>tm_Anusvara</string>
      <string>tm_Lla</string>
      <string>tm_VowelI.alt4</string>
      <string>ncommaaccent</string>
      <string>tm_Eight</string>
      <string>tm_Rupee</string>
      <string>tm_VowelO</string>
      <string>tm_Maatham</string>
      <string>tm_VUu</string>
      <string>tm_Ka</string>
      <string>tm_VowelU</string>
      <string>tm_KU</string>
      <string>tm_Zero</string>
      <string>tm_LlUu</string>
      <string>tm_E</string>
      <string>tm_AuLengthMark</string>
      <string>tm_Visarga</string>
      <string>tm_La</string>
      <string>Lcommaaccent</string>
      <string>tm_VowelAi.alt</string>
      <string>tm_Varudam</string>
      <string>tm_I</string>
      <string>tm_KUu</string>
      <string>tm_Na</string>
      <string>tm_NU</string>
      <string>tm_Nga</string>
      <string>tm_Ma</string>
      <string>tm_VowelI.alt1</string>
      <string>tm_VowelI.alt2</string>
      <string>tm_VowelUu.alt2</string>
      <string>tm_Six</string>
      <string>tm_Ta</string>
      <string>tm_RU</string>
      <string>tm_Hundred</string>
      <string>tm_Ai</string>
      <string>tm_TtI</string>
      <string>Rcommaaccent</string>
      <string>tm_TtIi</string>
      <string>tm_NyU</string>
      <string>tm_CUu</string>
      <string>tm_NnU</string>
      <string>tm_Three</string>
      <string>tm_MU</string>
      <string>tm_RUu</string>
      <string>tm_Ten</string>
      <string>tm_RrU</string>
      <string>tm_Ca</string>
      <string>tm_TtUu</string>
      <string>gcommaaccent</string>
      <string>tm_VowelOo</string>
      <string>tm_Nine</string>
      <string>tm_NgUu</string>
      <string>tm_VowelU.alt1</string>
      <string>tm_VowelI.alt3</string>
      <string>tm_VowelAu</string>
      <string>Ncommaaccent</string>
      <string>tm_VowelEe</string>
      <string>tm_Two</string>
      <string>tm_Virama</string>
      <string>kcommaaccent</string>
      <string>tm_KSsa</string>
      <string>tm_Om</string>
      <string>tm_LU</string>
      <string>tm_Ja</string>
      <string>tm_Ra</string>
      <string>Kcommaaccent</string>
      <string>tm_TU</string>
      <string>tm_VowelUu</string>
      <string>tm_VowelUu.alt3</string>
      <string>tm_Ha</string>
      <string>tm_One</string>
      <string>tm_VowelU.alt3</string>
      <string>tm_NnnU</string>
      <string>tm_Naal</string>
      <string>tm_Au</string>
      <string>tm_YUu</string>
      <string>tm_Ii</string>
      <string>tm_PUu</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Delta</key>
      <string>uni0394</string>
      <key>Gcommaaccent</key>
      <string>uni0122</string>
      <key>Kcommaaccent</key>
      <string>uni0136</string>
      <key>Lcommaaccent</key>
      <string>uni013B</string>
      <key>Ncommaaccent</key>
      <string>uni0145</string>
      <key>Ohm</key>
      <string>uni2126</string>
      <key>Rcommaaccent</key>
      <string>uni0156</string>
      <key>Scommaaccent</key>
      <string>uni0218</string>
      <key>Tcedilla</key>
      <string>uni0162</string>
      <key>Tcommaaccent</key>
      <string>uni021A</string>
      <key>commaaccent</key>
      <string>uni0326</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>gcommaaccent</key>
      <string>uni0123</string>
      <key>kcommaaccent</key>
      <string>uni0137</string>
      <key>lcommaaccent</key>
      <string>uni013C</string>
      <key>mu</key>
      <string>uni03BC</string>
      <key>ncommaaccent</key>
      <string>uni0146</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>rcommaaccent</key>
      <string>uni0157</string>
      <key>scommaaccent</key>
      <string>uni0219</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>tcedilla</key>
      <string>uni0163</string>
      <key>tcommaaccent</key>
      <string>uni021B</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
    </dict>
  </dict>
</plist>
