<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.R1</key>
    <array>
      <string>tm_Au</string>
      <string>tm_E</string>
      <string>tm_Ee</string>
      <string>tm_Lla</string>
      <string>tm_Nna</string>
      <string>tm_Nnna</string>
      <string>tm_Ra</string>
      <string>tm_Hundred</string>
      <string>tm_AuLengthMark</string>
      <string>tm_VowelAa</string>
      <string>tm_VowelUu.alt1</string>
    </array>
    <key>public.kern2.0</key>
    <array>
      <string>tm_Ra</string>
    </array>
    <key>public.kern2.L1</key>
    <array>
      <string>tm_Ca</string>
      <string>tm_E</string>
      <string>tm_Ee</string>
      <string>tm_Ha</string>
      <string>tm_Ka</string>
      <string>tm_La</string>
      <string>tm_Lla</string>
      <string>tm_Nna</string>
      <string>tm_Nnna</string>
      <string>tm_Nya</string>
      <string>tm_Sa</string>
      <string>tm_Ssa</string>
      <string>tm_Ta</string>
      <string>tm_Va</string>
      <string>tm_Five</string>
      <string>tm_Four</string>
      <string>tm_Nine</string>
      <string>tm_One</string>
      <string>tm_Seven</string>
      <string>tm_Six</string>
      <string>tm_Thousand</string>
      <string>tm_Merpadi</string>
      <string>tm_Naal</string>
      <string>tm_Varavu</string>
      <string>tm_Varudam</string>
      <string>tm_AuLengthMark</string>
      <string>tm_VowelAi</string>
      <string>tm_KU</string>
      <string>tm_CU</string>
      <string>tm_NyU</string>
      <string>tm_TtU</string>
      <string>tm_NnU</string>
      <string>tm_NnnU</string>
      <string>tm_MU</string>
      <string>tm_RU</string>
      <string>tm_LU</string>
      <string>tm_LlU</string>
      <string>tm_CUu</string>
      <string>tm_TtUu</string>
      <string>tm_MUu</string>
      <string>tm_RUu</string>
      <string>tm_LlUu</string>
      <string>tm_LllUu</string>
      <string>tm_VUu</string>
      <string>tm_Shree</string>
    </array>
    <key>public.kern2.L2</key>
    <array>
      <string>tm_A</string>
      <string>tm_Aa</string>
      <string>tm_Eight</string>
    </array>
    <key>public.kern2.L3</key>
    <array>
      <string>tm_I</string>
    </array>
  </dict>
</plist>
